body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    display: flex;
}

h1 {
    font-size: 50px;
}

.color-orange {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
    padding-left: 4%;

}

.button-hire {
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700px;
    color: rgb(245, 236, 236);
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}